input {
  font-family: "Inter";
}
#headder .menu-navigation a.active {
  font-weight: 600;
  color: #2b2b39;
}
#header .menu-navigation a,
#header .menu-navigation a.active {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #656464;
}
.content-auto {
  content-visibility: auto;
}
#header .menu-action .search-box{
  width: 105px;
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}
#header .menu-action .search-box input{
  font-size: 12px;
  padding: 0;
}