@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* CSS Reset */
body, ul, ol, h1, h2, h4, p {
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 150px;
}

/* Global Container */
.container {
    /* Container Width + Gutter */
    width: 1344px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .title {
    margin-bottom: 70px;
}
.container .title h2 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #293241;
}
.container .title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;text-align: center;color: #7F848D;
    margin-top: 24px;
}

/* Col */
.col {
    margin: 0 12px;
}
.col-3 {
    width: calc(25% - 24px);
}
.col-4 {
    width: calc(100% / 3 - 24px);
}
.col-6 {
    width: calc(50% - 24px);
}
.col-8 {
    width: calc(100% * 2/3 - 24px);
}

/* Navbar */
#navbar {
    padding-top: 62px;
    padding-bottom: 62px;
    position: absolute;
    width: 100%;
}
#navbar .container {
    justify-content: space-between;
}
#navbar .logo {
    padding: 0 12px;
}
#navbar .logo img {
    height: 60px;
    width: auto;
}

#navbar .menu {
    padding: 0 12px;
}
#navbar ul {
    list-style: none;
}
#navbar ul::after {
    content: " ";
    display: block;
    clear: both;
}
#navbar ul li {
    float: left;
    margin: 0 24px;
}
#navbar ul li a {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #FFFFFF;

    text-decoration: none;
}
#navbar ul li a.active {
    font-weight: bold;
}
#navbar .button {
    padding: 0 12px;
}
#navbar .button a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 14px 24px;
    background: #ffffff;

    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-decoration: none;

    color: #293241;
    border-radius: 15px;
}

#hero {
    background-color: #0D1728;
    height: 1276px;
    margin-top: 0;
    margin-bottom: 440px;

    background-image: url(../images/background-hero.png);
    background-position: -295px -449px;
}
#hero .content {
    margin-top: 191px;
    padding: 0 12px;
}
#hero .content p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 28px;
}
#hero .content h1 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 138%;
    text-align: center;
    color: #FFFFFF;
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 32px;
}

#hero .content .getting-started {
    width: calc(50% - 28px);
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 1000px;
    margin-bottom: 70px;
}
#hero .content .getting-started form {
    display: flex;
    width: 100%;
    margin: 0;
}
#hero .content .getting-started input {
    padding: 32px 48px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    flex: 1;
}
#hero .content .getting-started button {
    background: #ffffff;
    padding: 30px 38px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #293241;
    border: 0;
    border-radius: 1000px;
}
#hero .content .demo {
    border: 15px solid #4C5562;
    border-radius: 50px;
    overflow: hidden;
}

/* Customers */
#customers .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#customers .rating {
    margin-bottom: 32px;
}
#customers .rating img {
    margin: 0 4px;
}
#customers p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #293241;
    margin-bottom: 24px; 
}

#works-title {
    margin-bottom: 0;
}
#works {
    padding: 41px 0;
    background-image: url(../images/bg-works-vector.svg);
    background-position: 45%;
    background-size: cover;
    background-repeat: no-repeat;
}
#works .card {
    width: calc(25% - 72px);
    padding: 24px;
    background-color: #1E2746;
    background-image: url(../images/bg-works.png);
    background-repeat: no-repeat;
    border-radius: 18px;
}
#works .card ol {
    padding-left: 30px;
    margin-bottom: 16px;
}
#works .card ol li {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px; color: #FFFFFF;
    padding-left: 20px;
}
#works .card p {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D4D6D9;
}

#analytise {
    background: #293241;
    padding: 150px 0;
}
#analytise .badge {
    padding: 6px 16px;
    background: #EDCB50;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #293241;
    margin-bottom: 24px;
    display: inline-block;
}
#analytise h2 {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;color: #FFFFFF;
    margin-bottom: 32px;
}
#analytise ul {
    list-style: none;
}
#analytise ul li {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #D4D6D9;
    margin-bottom: 22.5px;

    display: flex;
    justify-content: start;
    align-items: center;
}
#analytise ul li::before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(../images/bulleyes.png);
    margin-right: 18px;
    background-size: cover;
    background-repeat: no-repeat;
}

#pricing .card {
    padding: 32px;
    border-radius: 24px;
    box-sizing: border-box;
}
#pricing .card .pricing-box {
    padding-bottom: 32px;
    display: flex;
    gap: 12px;
    border-bottom: 1px solid #EAEBEC;
}
#pricing .card .pricing-box .icon-box {
    background-color: #000;
    border-radius: 12px;
    width: 72px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#pricing .card .pricing-box .icon-box img {
    height: 44px;
    width: 44px;
}

#pricing .card .price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: start;
    align-items: start;
}
#pricing .card .price .badge {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;text-align: center;
    color: #000;
}
#pricing .card .price .info h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 42px;
    color: #293241;
}
#pricing .card .price .info h4 span {
    font-size: 24px;
}
#pricing .card .price .info {
    display: flex;
    gap: 8px;
    justify-content: start;
    align-items: flex-end;
}
#pricing .card .price .info > span {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545B67;
    display: inline-block;
    margin-bottom: 12px;
}

/* Pricing Color */
#pricing .card {
    border: 1px solid transparent;
    transition: 0.3s ease-out;
}
#pricing .card.yellow:hover {
    border: 1px solid #EDCB50;
}
#pricing .card.green:hover {
    border: 1px solid #448C74;
}
#pricing .card.blue:hover {
    border: 1px solid #1681FE;
}

#pricing .card.yellow .pricing-box .icon-box {
    background: #EDCB50;
}
#pricing .card.green .pricing-box .icon-box {
    background: #448C74;
}
#pricing .card.blue .pricing-box .icon-box {
    background: #1681FE;
}